{% extends "base.html" %}
{% block title %}Все отзывы{% endblock title %}
{% block header %}Все отзывы{% endblock header %}
{% block content %}
    <style>
        .container {
            width: 100%;
            text-align: left;
        }

        form {
            display: inline-block;
        }
    </style>
    <a href="{% url 'review' %}">Новый отзыв</a>
    <br>
    <div class="container">
        <form align="left" method="GET" id="sort_form">
            <div> <label for="order_select">Сортировать по:</label> </div>
            <div>
                <select name="order_by" id="order_select" onchange="updateAction(this)">
                    <option value="">--Не выбрано--</option>
                    <option value="name">Имя по возрастанию</option>
                    <option value="-name">Имя по убыванию</option>
                    <option value="rate">Оценка по возрастанию</option>
                    <option value="-rate">Оценка по убыванию</option>
                </select>
            </div>
            <br>
            <input type="submit" value="Сортировать">
        </form>

        <form align="right" method="GET" action="{% url 'list' %}">
            {{ form.as_p }}
            <input type="submit" value="Найти">
        </form>
    </div>
    <br>
    <a href="{% url 'list' %}">Очистить</a>

    <script>
        function updateAction(selectElement) {
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;
            var formElement = document.getElementById("sort_form");
            var url = "{% url 'list' %}" + "?selected=" + selectedOption;
            formElement.setAttribute("action", url);
        }
    </script>
    <ul>
      {% for reviews in object_list %}
      <li>
          <p>Автор: {{ reviews.name }}</p>
          <p>Текст: {{ reviews.text }}</p>
          <p>Оценка: {{ reviews.rate }}</p>
      </li>
        {% empty %}
      <li>No reviews yet.</li>
        {% endfor %}
    </ul>

    {% if page_obj.has_other_pages %}
    <nav>
        <ul>
            {% if page_obj.has_previous %}
            <li>
                <a href="?page=1">&lt;&lt;</a>
            </li>
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            </li>
            {% endif %}

            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li>{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li>
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            </li>
            <li>
                <a href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <br>
{% endblock content %}